<style>
body {
    font-family: Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #9c8df0;
}

section {
    text-align: center;  /* Centers the text */
    margin: 0 auto;
    padding: 20px;       /* Adds padding around the text */
    background-color: #050505; /* Optional: Set a background color */
    width: 80%;          /* Optional: Set a width to control the section size */

/* Use a different font for all headers */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica', sans-serif; /* Font for headers */
    color: #06a086; /* Example color */
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}


nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

footer {
    background-color: #333;
    color: #050505;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
</style>
